.header {
  width: 100%;
}

.navigation__wrap {
  display: flex;

  align-items: center;

  padding-bottom: 55px;
  padding-top: 55px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navigation__list {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.navigation__item:not(:last-child) {
  margin-right: 50px;
}

.navigation__link {
  display: inline-block;
  // padding: 75px 0px;
  font-weight: 500;
  line-height: calc(30 / 20);
  color: $main-color;
}

.header__logo {
  // margin-right: 228px;

  font-weight: 400;
  font-size: 36px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: $title-color;
}

.header__logo--grey-part {
  color: #939393;
}
.btn-header {
  padding: 20px 56px;
  font-weight: 400;
  min-width: 312px;
}

.btn-header:hover,
.btn-header:focus {
  background-color: $btn-bg-main;
  color: $btn-color-main;
}
