.hero {
  text-align: left;
  display: flex;
  justify-content: center;
}
.hero .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hero-content {
  max-width: 540px;
  flex-basis: calc(100% - 654px);
  position: relative;
}
.hero-title {
  color: $title-color;
  font-weight: 600;
  font-size: 64px;
  line-height: calc(80 / 64);
  margin-bottom: 40px;
}
.bulb-icon {
  position: absolute;
  top: 92px;
  right: 50px;
}

.hero-text {
  font-weight: 400;
  font-size: 24px;
  line-height: calc(36 / 24);
  margin-bottom: 60px;
}

.btn-hero {
  padding: 23px 64px;
  font-weight: 400;
  font-size: 36px;
  line-height: calc(54 / 36);
  min-width: 426px;
}
.btn-hero:hover,
.btn-hero:focus {
  color: $btn-color-second;
  background-color: $btn-bg-second;
}
