.pricing__title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 1, 5;
  color: #000000;
  display: flex;
  justify-content: center;
}

.pricing-list {
  list-style: none;
  display: flex;
  width: 426px;
  height: 584px;
}

.pricing-list__title {
  font-weight: 600;
  font-size: 30px;
  line-height: 1.6;
  text-transform: capitalize;
  color: #263238;
}

.pricing-list__text {
  font-size: 20px;
  line-height: 1.5;
  color: #8f95a5;
}
