<!-- About us (Max) -->

<section class="section">
    <div class="container about">
        <div class="about__content">
            <h2 class="about__title">About Us</h2>
            <p class="about__text">
                The model offers a framework for discussing problems related to the user's experience, as well as
                possible
                ways
                and
                means of solving them. Application development begins at the top level (strategy), where the future
                software
                product is
                described quite abstractly from the point of view of the expectations of both users and the customer.
            </p>
            <ul class="about__list">
                <li class="about__item">
                    <h3 class="about__item-subtitle">800</h3>
                    <p class="about__item-text">Pupils</p>
                </li>
                <li class="about__item">
                    <h3 class="about__item-subtitle">18</h3>
                    <p class="about__item-text">Teachers</p>
                </li>
                <li class="about__item">
                    <h3 class="about__item-subtitle">6</h3>
                    <p class="about__item-text">Foreign
                        languages</p>
                </li>
            </ul>
        </div>
        <img src="./images/Business-competition-bro-1.png" alt="doing something" width="540" height="540">
    </div>
</section>