<section class="section">
    <div class="container">
        <div class="contact-section">
        <!-- <img src="./images/contact-png.png" alt=""> -->
    <div class="img-box">
        <svg class="icon-hair" width="73" height="57">
            <use href="./images/symbol-defs.svg#icon-hair">
            </use>
        </svg>
    
        <svg width="334" height="342" class="contact-image">
            <use href="./images/symbol-defs.svg#icon-contact"></use>
        </svg>
    
        <svg class="icon-trausers" width="117" height="136">
            <use href="./images/symbol-defs.svg#icon-trausers"></use>
        </svg>
        <svg class="icon-grass" width="366" height="175">
            <use href="./images/symbol-defs.svg#icon-grass"></use>
        </svg>
    </div>
        <div class="contact-text-box">
            <h2 class="contact-main-text">Contact Us</h2>
            <p class="contact-description-text">
                Discover your current English level by taking our free online English
                test. Sign up to our newsletter for learning tips and free resources
            </p>
            <form class="contact-form-field">
                <input type="text" name="mail" id="mail" placeholder="Enter Your E-mail">
                <button class="contact-form-field-btn ">Subscribe</button>
            </form>
        </div>
        </div>
    </div>
    </div>
</section>