<footer class="footer">
    <div class="container main-footer">
        <div class="footer__field ">
            <a href="" class="footer__logo line">Brit<span class="footer__accent line">lex</span></a>

            <ul class="footer__list list">
                <li class="footer__link"><a href="" class="footer__item line ">Terms and Conditions</a> </li>
                <li class="footer__link"><a href="" class="footer__item line">Privacy Policy</a> </li>
                <li class="footer__link"><a href="" class="footer__item line">Cookie Policy</a> </li>
            </ul>
        </div>
    </div>


    </div>
</footer>