<header class="header">
    <div class="container">
        <div class="navigation__wrap">
            <nav class="navigation">
                <a href="" class="header__logo link">Brit<span class="header__logo--grey-part">Lex</span>
                </a>

                <ul class="navigation__list list">
                    <li class="navigation__item">
                        <a class="navigation__link link" href="">Home</a>
                    </li>
                    <li class="navigation__item">
                        <a class="navigation__link link" href="">Skills</a>
                    </li>
                    <li class="navigation__item">
                        <a class="navigation__link link" href="">About Us</a>
                    </li>
                    <li class="navigation__item">
                        <a class="navigation__link link" href="">Pricing</a>
                    </li>
                    <li class="navigation__item">
                        <a class="navigation__link link" href="">Contacts</a>
                    </li>
                </ul>
                <button class="btn  btn--second btn-header" type="button">Let’s Talk</button>
            </nav>
            
        </div>
    </div>
</header>