<section class="section hero">
    <div class="container">
        <div class="hero-content">
            <h1 class="hero-title">Learn <br> Any Foreign Language</h1>
    
            <img class="bulb-icon" src="./images/bulb-icon.svg" alt="buld" width="120" height="120">
          
            <p class="hero-text">With our teachers who write a program for
                each student, you will be able to make your
                first sketch after the first lesson.</p>
            <button class="btn btn--primary  btn-hero" type="button">Get started</button>

        </div>
        <img src="./images/learning-languages.png" alt="learning" width="654" height="510" class="images" />

    </div>
    </div>
</section>