<section class="pricing">
    <div class="container">
        <h2 class="pricing__title">Pricing</h2>
        <ul class="pricing-list">
            <li class="pricing-list__item">
                <img class="pricing-list__img" src="./images/online.svg" alt="online" width="326" height="320" />
                <h3 class="pricing-list__title">Self-study online course</h3>
                <p class="pricing-list__text">
                    Start learning English online in live classes with qualified EC teachers and students from
                    all over the world.
                </p>
                <button type="button" class="pricing-btn">
                    <span class="pricing-btn__top-text">£5.99</span>
                    <span class="pricing-btn__botom-text">per month</span>
                </button>
            </li>
            <li class="pricing-list__item">
                <img class="pricing-list__img" src="./images/lesson.svg" alt="lesson" width="326" height="320" />
                <h3 class="pricing-list__title">Live online classes</h3>
                <p class="pricing-list__text">Interactive group classes with expert teachers. Free 7-day trial</p>
                <button type="button" class="pricing-btn">
                    <span class="pricing-btn__top-text"></span>>£12.99</span>
                    <span class="pricing-btn__botom-text">per month</span>
                </button>
            </li>
            <li class="pricing-list__item">
                <img class="pricing-list__img" src="./images/webinar.svg" alt="webinar" width="326" height="320" />
                <h3 class="pricing-list__title">Personal Tuition</h3>
                <p class="pricing-list__text">Online one-to-one English tutoring – enjoy our first session for only $1
                </p>
                <button type="button" class="pricing-btn">
                    <span class="pricing-btn__top-text"></span>>£12.99</span>
                    <span class="pricing-btn__botom-text">per month</span>
                </button>
            </li>
        </ul>
    </div>
</section>