<section class="skills">
    <div class="container">
        <ul class="skills__list">
            <h2 class="section-title">Skills</h2>
            <li class="skills__item">
                <div class="img-box">
                    <img src="./images/house-bookshelves-bro1.png" alt="" />
                </div>
                <h3 class="skills__title">Speaking</h3>
                <p class="skills__text">
                    Improve your English skills and confidence. Live classes and interactive lessons online.
                    20% extra free for a limited time only Learn English online and improve your skills
                    through our high-quality courses and resources – all designed for adult language learners.
                </p>
                <button class="skills__button">Learn More</button>
            </li>
            <li class="skills__item">
                <div class="img-box">
                    <img src="./images/house-bookshelves-bro1.png" alt="" />
                </div>
                <h3 class="skills__title">Writing</h3>
                <p class="skills__text">
                    One of the most important and extensive areas of natural science, the science that studies
                    substances, also their composition
                </p>
                <button class="skills__button">Learn More</button>
            </li>
            <li class="skills__item">
                <div class="img-box">
                    <img src="./images/house-bookshelves-bro1.png" alt="" />
                </div>
                <h3 class="skills__title">Reading</h3>
                <p class="skills__text">
                    perception and response actions of the user resulting from the use and or up coming use of
                    the product, system or service
                </p>
                <button class="skills__button">Learn More</button>
            </li>
            <li class="skills__item">
                <div class="img-box">
                    <img src="./images/house-bookshelves-bro1.png" alt="" />
                </div>
                <h3 class="skills__title">Listening</h3>
                <p class="skills__text">
                    Here you can find activities to practise your listening skills. Listening will help you to
                    improve your understanding
                </p>
                <button class="skills__button">Learn More</button>
            </li>
        </ul>
    </div>
</section>